.body-page {
  font-family: $f-primary;
  font-size: $f-text-size;
  line-height: $f-base-lh;

  color: $c-primary;
}

// Центровщик
.container-inner {
  margin: 0 auto;
  padding: 0 15px;
  @media (min-width: 1200px) {
    width: 1170px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 768px) {
    width: 750px;
  }
}